<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticate</title>
    <script src="/static/login.js" defer></script>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    <form id="loginForm">
        <input type="hidden" name="redirect_uri" value="{{ redirect_uri or '' }}">
        <input type="text" placeholder="Input username..." name="username" required>
        <input type="password" placeholder="Input password..." name="password" required>
        <button type="submit">Log in</button>
        <p id="msg"></p>
    </form>
</body>
</html>